<table>
    <thead>
            <tr>
                <th>name</th>
            </tr>
        </thead>
<tbody>
<% instuctor.forEach(employee => { %>
<tr>
    <td><%= employee.name%></td>
</tr>
<% }); %>
</tbody>
</table>

<table>
<thead>
                <tr>
                    <th>name</th>
                </tr>
            </thead>
<tbody>
<% coures.forEach(rows1 => { %>
    <tr>
        <td><%= rows1.name%></td>
    </tr>
<% }); %>
</tbody>
</table>
