<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <!-- <body> -->
    <body data-spy="scroll" data-target="#navigation" data-offset="120">

        <!-- *** NAVBAR ***_________________________________________________________ -->
    
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand scrollTo" href="#intro">My Profile</a>
                </div>
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#about">About Me</a>
                        </li>
                        <li>
                            <a href="#skill">Skill</a>
                        </li>
                        <li>
                            <a href="#contact">contact</a>
                        </li>
                        <li>
                            <a href="#portfolio">Porfolio</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
    
            </div>
        </div>
        <!-- /#navbar -->
    
        <!-- *** ABOUT ***________________________________________________________ -->
    
        <div class="section" id="about">
            <div class="container">
                <div class="row">
    
                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">About me</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 text-left" data-animate="fadeInUp">
    
                                <p></p>
    
                                <p>My nickname is Ly and You can call me just
                                    <strong> Ly </strong>
                                </p>
    
                                <p>I do like to learn Coding and Now I Just join with Codecamp Progarme to learn
                                    <strong> HTML, CSS, JAVASCRIP </strong> How can I build myown Website </p>
    
                            </div>
    
                            <div class="col-sm-6" data-animate="fadeInUp">
                                <!-- <div class="skill-item">
                                <div class="progress-title">
                                    As on Services
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-skill5" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                        <span class="sr-only">70</span>
                                    </div>
                                </div>
                            </div> -->
                            </div>
                        </div>
    
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /#about -->
    
        <!-- *** ABOUT END *** -->
    
        <!-- *** SERVICES ***
    _________________________________________________________ -->
    
    
        <div class="section" id="skill">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">Skill</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 text-left" data-animate="fadeInUp">
                                <img src="image/Skill.png">
    
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    
    
    
        <div class="section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">Contact</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 text-left" data-animate="fadeInUp">
                                <p>Roongroj Phetkheaw </p>
                                <p>
                                    <Roongroj777@gmali class="com"></Roongroj777@gmali>
                                </p>
                                <p>Phone: 0828653827</p>
    
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    
    
        <div class="section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">portfolio</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 text-left" data-animate="fadeInUp">
    
    
                                <div class="container">
    
                                    <div class="row grid-columns">
                                        <div class="col-md-3 col">
                                            <div>
                                                <img src="image/p1.jpg" alt="HTML5 Icon" style=" display: block;
                                                margin-left: auto;
                                                border-radius: 8px;
                                                margin-right: auto;
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                width: 50%;">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div style=" margin-top: 10px;
                                            margin-bottom: 10px;">
                                                <b>Rig S1</b>
                                                <br>Onshore: Rig S1
                                                <br>Location:Thailand
    
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div>
                                                <div>
                                                    <img src="image/p2.jpg" alt="HTML5 Icon" style=" display: block;
                                                    margin-left: auto;
                                                    border-radius: 8px;
                                                    margin-right: auto;
                                                    margin-top: 10px;
                                                margin-bottom: 10px;
                                                    width: 100%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col ">
                                            <div>
                                                <b>Rig bq/Th</b>
                                                <ul>
                                                    <li>Location:Thailand</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row grid-columns">
                                        <div class="col-md-3 col">
                                            <div>
                                                <img src="image/p1.jpg" alt="HTML5 Icon" style=" display: block;
                                                margin-left: auto;
                                                border-radius: 8px;
                                                margin-right: auto;
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                width: 50%;">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div>
                                                <b>Rig S1</b>
                                                <br>Onshore: Rig S1
                                                <br>Location:Thailand
    
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div>
                                                <div>
                                                    <img src="image/p2.jpg" alt="HTML5 Icon" style=" display: block;
                                                    margin-left: auto;
                                                    border-radius: 8px;
                                                    margin-right: auto;
                                                    width: 100%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col ">
                                            <div>
                                                <b>Rig bq/Th</b>
                                                <ul>
                                                    <li>Location:Thailand</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row grid-columns">
                                        <div class="col-md-3 col">
                                            <div>
                                                <img src="image/p1.jpg" alt="HTML5 Icon" style=" display: block;
                                                margin-left: auto;
                                                border-radius: 8px;
                                                margin-right: auto;
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                width: 50%;">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div style=" margin-top: 10px;
                                            margin-bottom: 10px;">
                                                <b>Rig S1</b>
                                                <br>Onshore: Rig S1
                                                <br>Location:Thailand
    
                                            </div>
                                        </div>
                                        <div class="col-md-3 col">
                                            <div>
                                                <div>
                                                    <img src="image/p2.jpg" alt="HTML5 Icon" style=" display: block;
                                                    margin-left: auto;
                                                    border-radius: 8px;
                                                    margin-right: auto;
                                                    width: 100%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col ">
                                            <div>
                                                <b>Rig bq/Th</b>
                                                <ul>
                                                    <li>Location:Thailand</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
    
    
            <div class="container">
                <h3>Basic Navbar Example</h3>
                <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
            </div>
    

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>