
    <table>
        
       <tr>

           <th>id</th>
           <th>firsname</th>
           <th>lastname</th>
           <th>company</th>
           <th>salary</th>
           
        </tr>
        <% people.forEach(element => { %> 
        <tr >
          
            <td> <%- element.id %></td>
            <td><%- element.firstname %></td>
            <td><%- element.lastname %></td>
            <td><%- element.company %></td>
            <td><%- element.salary %></td>
        </tr>

    <%   }) %>
    </table>