<div class="row">
<div class="col-md-6 offset-md-3" >
<table id="table1" align="center" class="table table-bordered table-dark">
    <thead class="col-md-2">
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody >
        <% data.forEach(data => { %>
            <tr>
                <td>
                    <%= data.name %>
                </td>
                <td>
                    <%= data.price %>
                </td>
            </tr>
            <% }); %>

    </tbody>
</table>
</div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3" >
<table id="table2" align="center" class="table table-bordered table-dark"> 
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>enroll_price</th>
        </tr>
    </thead>
    <tbody>
<br>
<% data2.forEach(data2 => { %>
<tr>
    <td>
        <%= data2.id %>
    </td>
    <td>
        <%= data2.name %>
    </td>
    <td>
    <%= data2.enroll_price%>
    </td>
</tr>
<% }); %>
    </tbody>
</table>
</div>
</div>
