<% if (flash && flash.error) { %>
    <p style="color: red;">
        <%= flash.error %>
    </p>
    <% } %>
        <form>
            
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div >
                            <form method="POST">
                                username:
                                <input name="username">
                                <br> password:
                                <input type="password" name="password">
                            </form>
                        </div>
                        <br>
                        <button class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            

        </form>