@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css'; 
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
.theam1{
        color: rgb(224, 127, 0);
        font-size: large;
}
.theam1 p{
    color: brown
    
}
.theam2{
    color: rgb(207, 63, 63);

}

.theam2{
    color: rgb(251, 255, 0);
    size: 100dp;
}
.theam3{
    color: rgb(224, 127, 0);
    font-size: large;


}
.theam3 p{
color: brown

}

h2 {
  color: blue;
}
